# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore Python package directories
__pycache__/

# Ignore virtual environment directories
venv/
env/
.env

# Ignore IDE files
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db